.todo .message {
    display: none;
    background: #ff4747;
    color: #fff;
    padding: 14px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
}

.todo .todo-add {
    display: flex;
}

.todo-list {
    list-style-type: none;
    padding-left: 10px;
}

.todo-list .task {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 10px 0;
}

.todo-list .task.completed span {
    text-decoration: line-through;
}

.todo-list .task input {
    margin: 10px;
}

.todo-list .task:hover > button {
    opacity: 1;
}

.todo-list .task button {
    opacity: 0;
    margin: 0 0 0 10px;
}